html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(96, 112, 149, 0.227);
    font-size: 1vh;
}
/*
div {
    border: 1px solid red;
} */

.circle-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.circle {
    display: flex;
    border-radius: 50%;
    height: 5vh;
    width: 5vh;
    margin: 0;
    background: radial-gradient(circle at 1vh 1vh, #1083fa, #c6a4a4);
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
}

.rounded-rect {
    border-radius: 1vh;
    width: 72%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgb(238, 255, 0);
    font-weight: bolder;
    font-size: 2vh;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}

.top .game-info {
    width: 40%;
    height: 100%;
    display: flex;
}

.game-info-left {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.game-info-right {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#room-number .circle {
    background: radial-gradient(circle at 1vh 1vh, #1083fa, #c6a4a4);
}

#num-rounds .circle {
    background: radial-gradient(circle at 1vh 1vh, #fa7110, #c6a4a4);
}

#friend-info .rounded-rect {
    visibility: hidden;
    width: 90%;
}

.friend-card {
    display: flex;
    align-items: center;
}

.friend-card img {
    width: 8vh;
}

.player {
    display: flex;
    flex-direction: column;
}

.top .player {
    flex: 1;
    flex-direction: row;
}

.player-info {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.player-info .left {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:rgba(120, 149, 218, 0.4);
    width: 8vh;
    height: 100%;
    visibility: hidden;
}

.player-info .right {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 7vh;
    visibility: hidden;
}


.player-icon img {
    width: 7vh;
    opacity: 0.2;
}

.icon-border {
    border: 2px solid rgba(85, 85, 199, 0.647)
}

.player-score {
    text-align: center;
    flex: 1;
}

.player-name {
    flex: 1;
}

.num-cards-container {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.num-cards-img {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    align-items: center;
}

.num-cards-img img {
    height: 8vh;
    opacity: 1;
}

.num-cards {
    position: absolute;
    z-index: 2;
    font-weight: 900;
    font-size: 3vh;
    color: white;
}

.neck {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 35vh;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    flex: 1;
}

.p1-container {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#p1 {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p1-left {
    flex: 1
}

.p1-left .player-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.p1-right {
    display: flex;
    flex-direction: column;
    width: 43%;
    justify-content: center;
}

.player-score.circle-container .circle {
    width: 4.5vh;
    height: 4.5vh;
    font-size: 2vh;
    transform:scale(0.83);
    background: radial-gradient(circle at 1vh 1vh, #3d8338, #6d5858);
}

.player-score.circle-container .rounded-rect {
    width: 44%;
    justify-content: center;
}

.player-name {
    text-align: center;
}


.main .main-middle {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.main .value-cards {
    width: 10%;
}

.main-middle .choice {
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-middle .cards {
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.main-middle .choice button {
    font-size: 3vh;
    width: 12vh;
}

#prepare {
    background-color: rgba(163, 20, 20, 0.489);
}

#pass {
    display: none;
    background-color: rgba(255, 0, 0, 0.364);
}

#go {
    display: none;
    background-color: rgba(7, 129, 7, 0.654);
}

button {
    font-size: 5vh;
    height: 6vh;
    width: 25vh;
    border-radius: 2vh;
}

.cards div {
    position: absolute;
}

#p1-out {
    position: relative;
}

#p1-out div {
    position: absolute;
}

.cards img {
    height: 25vh;
    box-shadow: 3px -1px 3px 1px #aaaaaa;
}

#p1-out img {
    height: 15vh;
    box-shadow: 3px -1px 3px 1px #aaaaaa;
}

.neck-center {
    flex: 1;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.out-section {
    position: relative;
    width: 100%;
    text-align: center;
}

.out-section div {
    position: absolute;
}

.out-section .pass-text {
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
}

.out-section img {
    height: 15vh;
    box-shadow: 3px -1px 3px 1px #aaaaaa;
}

#user-state h2 {
    font-size: 4vh;
}

.player {
    height: 17vh
}