html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(96, 112, 149, 0.227)
}

/* div {
    border: 1px solid red;
} */

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 17vh;
}

.top .game-info {
    width: 35%;
}

.top .friend-info {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.friend-card img {
    width: 10vh;
}

.player {
    display: flex;
    flex-direction: column;
}

.top .player {
    flex: 1;
    flex-direction: row;
}

.player-info {
    display: flex;
    flex-direction: row;
}

.player-info .left {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.player-info .right {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.player-score {
    text-align: center;
}

.num-cards {
    visibility: hidden;
}

.neck {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 35vh;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    flex: 1;
}

.main .main-middle {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.main .value-cards {
    width: 10%;
}

.main-middle .choice {
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-middle .cards {
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.main-middle .choice button {
    font-size: 3vh;
    width: 15vh;
}


.player-icon img {
    width: 10vh;
    opacity: 0.2;
}

/* #p1 {
    display: flex;
    text-align: left;
} */

.player-name {
    width: 10vh;
    display: inline-block;
}

.player-score {
    display: inline-block;
}

.num-cards {
    display: inline-block;
}

.icon-border {
    border: 2px solid rgba(85, 85, 199, 0.647)
}

#prepare {
    background-color: rgba(163, 20, 20, 0.489);
}

#pass {
    display: none;
    background-color: rgba(255, 0, 0, 0.364);
}

#go {
    display: none;
    background-color: rgba(7, 129, 7, 0.654);
}

button {
    font-size: 5vh;
    height: 7vh;
    width: 25vh;
    border-radius: 2vh;
}

.cards div {
    position: absolute;
}

#p1-out {
    position: relative;
}

#p1-out div {
    position: absolute;
}

.cards img {
    height: 25vh;
    box-shadow: 3px -1px 3px 1px #aaaaaa;
}

#p1-out img {
    height: 15vh;
    box-shadow: 3px -1px 3px 1px #aaaaaa;
}

.neck-center {
    flex: 1;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.out-section {
    position: relative;
    width: 100%;
    text-align: center;
}

.out-section div {
    position: absolute;
}

.out-section .pass-text {
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
}

.out-section img {
    height: 15vh;
    box-shadow: 3px -1px 3px 1px #aaaaaa;
}